
*{
    box-sizing: border-box;
}
#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
 

}
h1 {
    text-align: center;
}
#currentTime {
    float: right;
    font-weight: bold;
}
#createDiv {
    
    border-top: 1px solid lightgray;
}